<template>
  <div class="grid-container fluid">
    <div class="grid-x align-center align-middle grid-padding-x">
      <div class="cell small-12">
        <h1 class="text-center show-for-large">Consular Visualisation</h1>
        <h1 class="text-left hide-for-large">Consular Visualisation</h1>
      </div>
      <div class="cell small-12 large-12 align-middle">
        <h5 class="text-center show-for-large">This is a radar graph visualisation comparing the reports for various consular services.</h5>
        <h5 class="text-left hide-for-large">This is a radar graph visualisation comparing the reports for various consular services.</h5>
      </div>
    </div>
    <div class="grid-x" >
      <div class="cell small-12 medium-12 large-4" >
        <h2 class="text-center show-for-large">Options</h2>
        <h1 class="text-left hide-for-large">Options</h1>
        <div class="grid-y grid-margin-y grid-padding-y">
          <div class="cell grey-border">
            <a v-on:click="hideCities=!hideCities" class="">
              <img  :class="{'hide': !hideCities}" style="height: 3rem;" src="~/static/plus-line.svg" alt="Expand Cities">
              <img  :class="{'hide': hideCities}" style="height: 3rem;" src="~/static/minus-line.svg" alt="Minimise Cities">
              <h4 class="steps" >Step 1: Select Cities </h4>
            </a>
            <ul class="menu vertical step-list" :class="{'hide':hideCities}" v-for="(value, key) in citiesCountries" :key="key">
              <li>
                {{key}}
                <!--
                <input type="checkbox" :id="key+'-checkbox'" :value="citiesCountries[key]" v-model="selectedCities">
                <label :for="key+'-checkbox'" :key="key+'-label'">{{key}}</label>  -->
                <ul class="menu vertical nested" :class="{'hide':aggregate}">
                  <li v-for="city in citiesCountries[key]" :key="city">
                    <input type="checkbox" :id="city+'-checkbox'" :value="city" v-model="selectedCities">
                    <label :for="city+'-checkbox'" :key="city+'-label'">{{city}}</label>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- <span>Checked Cases: {{ selectedCases }}</span> -->
          </div>
          <div class="cell grey-border">
            <a v-on:click="hideCases=!hideCases">
              <img  :class="{'hide': !hideCases}" style="height: 3rem;" src="~/static/plus-line.svg" alt="Expand Cases">
              <img  :class="{'hide': hideCases}" style="height: 3rem;" src="~/static/minus-line.svg" alt="Minimise Cases">
              <h4 class="steps" >Step 2: Select case types</h4>
            </a>
            <p class="step-list step-description" :class="{'hide':hideCases}" >Select at least 3 for the graph to render correctly</p>
            <ul class="menu vertical step-list"  :class="{'hide':hideCases}" v-for="(value, key) in caseTypeGroups" :key="key">
              <li>
                {{key}}
                <ul class="menu vertical nested" :class="{'hide':aggregate}">
                  <li v-for="caseType in caseTypeGroups[key]" :key="caseType.key">
                    <input type="checkbox" :id="caseType.key+'-checkbox'" :value="caseType.key" v-model="selectedCases">
                    <label :for="caseType.key+'-checkbox'" :key="caseType.key+'-label'">{{caseType.name}}</label>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- <span>Checked Cities: {{ selectedCities }}</span> -->
          </div>
          <div class="cell small-12 grey-border">
            <a v-on:click="hideDates=!hideDates">
              <img  :class="{'hide': !hideDates}" style="height: 3rem;" src="~/static/plus-line.svg" alt="Expand Dates">
              <img  :class="{'hide': hideDates}" style="height: 3rem;" src="~/static/minus-line.svg" alt="Minimise Dates">
              <h4 class="steps" >Step 3: Select report dates</h4>
            </a>
            <ul class="menu vertical step-list" :class="{'hide':hideDates}">
              <li v-for="value in dates" :key="value"> 
                <input type="checkbox" :id="value+'-checkbox'" :value="value" v-model="selectedDates">
                <label :for="value+'-checkbox'" :key="value+'-label'">{{value}}</label>
              </li>
            </ul>
            <!-- <span>Checked Dates: {{ selectedDates }}</span> -->
          </div>
          <div class="cell small-12 grey-border">
            <a v-on:click="hideExtras=!hideExtras">
              <img  :class="{'hide': !hideExtras}" style="height: 3rem;" src="~/static/plus-line.svg" alt="Expand Dates">
              <img  :class="{'hide': hideExtras}" style="height: 3rem;" src="~/static/minus-line.svg" alt="Minimise Dates">
              <h4 class="steps" >Step 4: Extras (Optional)</h4>
            </a>
            <p class="step-list step-description" :class="{'hide':hideExtras}">Provided data is sometimes provided as range. Upper is the maxium possible value where lower is the minimum.</p>
            <ul class="menu vertical step-list" :class="{'hide':hideExtras}">
              <li>
                <input type="checkbox" name="upper" id="upper-checkbox" v-model="upper">
                <label for="upper-checkbox">Upper</label>
              </li>
              <li>
                <input type="checkbox" name="lower" id="lower-checkbox" v-model="lower">
                <label for="lower-checkbox">Lower</label>
              </li>
              <li>
          <!-- <input type="checkbox" name="aggegate" id="aggregate-checkbox" v-model="aggregate">
            <label for="aggregate-checkbox">Aggregate Categories</label> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cell small-12 medium-12 large-auto cell-block-y">
        <h2 class="text-center show-for-large">Graph</h2>
        <h1 class="text-left hide-for-large">Graph</h1>
        <RadarChart :chartData="chartData" :options="chartOptions"></RadarChart>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell small-12">
        <h2>Premade selections</h2>
        <button class="button" :class="examples[key].buttonStyle" v-for="(value, key) in examples" :key="key" v-on:click="quickLoad(key)">{{ value.name }}</button>
      </div>
    </div>
  </div>
</template>

<script>
import RadarChart from '~/components/RadarChart.js'
export default {
  components: {
    RadarChart
  },
  data () {
    return {
      selectedCities: [],
      selectedCases: [],
      selectedDates: ['2016-02-16', '2016-03-16', '2016-04-16', '2016-05-16', '2016-06-16', '2016-07-16', '2016-08-16', '2016-09-16', '2016-10-16', '2016-11-16', '2017-01-17', '2017-02-17', '2017-03-17', '2017-04-17', '2017-05-17', '2017-06-17', '2017-07-17'],
      chartOptions: { 'responsive': true, 'maintainAspectRatio': false },
      upper: true,
      lower: true,
      aggregate: false,
      hideCities: true,
      hideCases: true,
      hideDates: true,
      hideExtras: true,
      examples: {
        first: {
          name: 'Example 1',
          selectedCities: ['Cape Town', 'Berlin'],
          selectedCases: ['Fee bearing services ', 'Travel Documents  Lost or Stolen Passport', 'Travel Documents  Recovered Passport', 'ETDs '],
          selectedDates: ['2017-06-17', '2017-07-17'],
          buttonStyle: 'primary'
        },
        second: {
          name: 'Example 2',
          selectedCities: ['Manila', 'Mexico City'],
          selectedCases: ['Accident or Emergency  Road Traffic Accident', 'Death  Accidental', 'Missing Persons ', 'Victim of Crime  Theft', 'Arrest or Detention  General'],
          selectedDates: ['2016-02-16', '2016-03-16', '2016-04-16', '2016-05-16', '2016-06-16', '2016-07-16', '2016-08-16', '2016-09-16', '2016-10-16', '2016-11-16', '2017-01-17', '2017-02-17', '2017-03-17', '2017-04-17', '2017-05-17', '2017-06-17', '2017-07-17'],
          buttonStyle: 'primary'
        },
        /* third: {
          name: 'Example 3',
          selectedCities: [],
          selectedCases: [],
          selectedDates: [],
          buttonStyle: 'primary'
        }, */
        clear: {
          name: 'Clear',
          selectedCities: [],
          selectedCases: [],
          selectedDates: [],
          buttonStyle: 'alert'
        }
      }
    }
  },
  computed: {
    cities () {
      return this.$store.state.cities
    },
    dates () {
      return this.$store.state.dates
    },
    caseTypes () {
      return this.$store.state.caseTypes
    },
    cases () {
      return this.$store.state.cases
    },
    caseTypeGroups () {
      return this.$store.state.caseTypeGroups
    },
    citiesCountries () {
      return this.$store.state.citiesCountries
    },
    chartData () {
      let data = { labels: [], datasets: [] }
      let tempCases = {}
      for (const city of this.selectedCities) {
        // Random colour generator
        const r = this.getRandomArbitrary(0, 255)
        const g = this.getRandomArbitrary(0, 255)
        const b = this.getRandomArbitrary(0, 255)
        const borderColor = 'rgba(' + r + ',' + g + ',' + b + ',1)'
        const bgColourUpper = 'rgba(' + r + ',' + g + ',' + b + ',0)'
        const bgCOlourLower = 'rgba(' + r + ',' + g + ',' + g + ',0.3)'

        const cases = this.cases
        let tempUpper = []
        let tempLower = []

        for (const [index, c] of this.selectedCases.entries()) {
          tempCases[c] = index
          let tempTotalLower = 0
          let tempTotalUpper = 0

          for (const date of this.selectedDates) {
            if (cases[city][c] && cases[city][c][date]) {
              tempTotalLower += Number(cases[city][c][date].lower)
              tempTotalUpper += Number(cases[city][c][date].upper)
            }
          }
          tempLower.push(tempTotalLower)
          tempUpper.push(tempTotalUpper)
        }
        if (this.upper) {
          data.datasets.push({ label: city + '-upper', backgroundColor: bgColourUpper, borderColor, data: tempUpper, borderDash: [3, 3, 3] })
        }
        if (this.lower) {
          data.datasets.push({ label: city + '-lower', backgroundColor: bgCOlourLower, data: tempLower })
        }
      }
      let labels = new Array(tempCases.length)
      for (const c in tempCases) {
        labels.splice(tempCases[c], tempCases[c], c)
      }
      data.labels = labels
      return data
    }
  },
  methods: {
    getRandomArbitrary (min, max) {
      return Math.floor(Math.random() * (max - min) + min)
    },
    toggleChildItems (event, items) {
      for (const index in items) {
        if (event.srcElement.checked !== document.getElementById(items[index] + '-checkbox')) {
          document.getElementById(items[index] + '-checkbox').click()
        }
      }
    },
    parentChecked (datamodel, children) {
      for (const child in children) {
        if (!datamodel.includes(child)) {
          return false
        }
      }
      return true
    },
    quickLoad (id) {
      if (this.examples[id]) {
        this.selectedCities = this.examples[id].selectedCities
        this.selectedCases = this.examples[id].selectedCases
        this.selectedDates = this.examples[id].selectedDates
      }
    }
  }
}
</script>
<style>
.steps {
  vertical-align: middle; 
  display:inline;
  margin-left: 1rem;
}
.step-list {
  padding-left: 4rem;
}
.button {
  margin-right: 1rem;
}
.step-description {
  padding-right: 2rem;
}
.grey-border {
  border: 2px solid #a3a3a3; 
  border-radius: 10px;
}
</style>